@font-face {
    font-family: LXGW;
    src: url("/LXGW.woff2");
    font-display: block;
}

/*基础*/
* {
    user-select: none;
    box-sizing: border-box;
    font-family: "LXGW";
}

body {
    margin: 0px;
    overflow: hidden;
}

/*标题栏*/
.title-bar {
    background-color: white;
    width: 100%;
    height: 28px;
    position: fixed;
    top: 0px;
    left: 0px;
    app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-btn {
    app-region: no-drag;
}

.title-left,
.title-btn {
    display: flex;
    flex-direction: row;
}

#title-text {
    padding-left: 8px;
    height: 28px;
    line-height: 28px;
    font-size: 1.2em;
    font-weight: bold;

}

#title-icon,
.btn-icon {
    width: 36px;
    height: 28px;
    background-color: transparent;
    background-size: 70%, 70%, contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-icon:active {
    background-color: rgba(0, 0, 0, 0.4);
}

#btn-close:hover {
    background-color: #ff5f56;
}

#btn-close:active {
    background-color: #e0443e;
}

/*悬浮层*/
#float-layer {
    width: 100%;
    top: 28px;
    height: calc(100% - 28px);
    position: fixed;
    left: 0px;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

/*展开菜单*/
#float-menu {
    background-color: white;
    width: auto;
    outline: 1px solid;
    max-height: calc(95vh - 28px);
    border-radius: 4px;
    position: fixed;
    top: 29px;
    right: 108px;
    display: none;
    flex-direction: column;
    z-index: 10;
}

.menu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    height: 32px;
    padding: 2px;
    background-color: transparent;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-name {
    height: 28px;
    line-height: 28px;
    font-size: 1em;
    margin-left: 4px;
    margin-right: 8px;
}

/*悬浮页面*/
#float-frame {
    display: none;
    max-width: 800px;
    width: 80vw;
    min-width: 400px;
    max-height: 600px;
    height: 80vh;
    min-height: 200px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 200;
    background-color: white;
}

#frame-page {
    width: 100%;
    height: 100%;
    border: none;
}

/*左侧导航栏*/
#left-nav {
    background-color: white;
    width: 40px;
    height: calc(100% - 28px);
    position: absolute;
    top: 28px;
    left: 0px;
    z-index: 100;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;

    &>.nav-item {
        margin: 4px;
        width: calc(100% - 8px);
        height: 32px;
        display: flex;
        border-radius: 4px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:active,
        &.active {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &>.nav-icon {
            height: 32px;
            width: 32px;
            padding: 4px;
            opacity: 0.7;
        }

        &>.nav-text {
            display: none;
            height: 32px;
            padding: 2px;
            line-height: 28px;
            font-size: 1.1rem;
        }
    }

    @media(min-width:800px) {
        width: 150px;

        &>.nav-item>.nav-text {
            display: block;
        }

    }

    &:hover {
        width: 150px;

        &>.nav-item>.nav-text {
            display: block;
        }
    }
}

#main-tab {
    width: calc(100% - 40px);
    height: calc(100% - 28px);
    position: absolute;
    top: 28px;
    left: 40px;
    display: flex;
    overflow: hidden;

    @media(min-width:800px) {
        width: calc(100% - 150px);
        left: 150px;
    }
}

.tab-page {
    width: 100%;
    height: 100%;
}